.feed {
	width: 100%;
	padding: 0.5rem;
	overflow-x: auto;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
}

.feed-header,
.feed-row {
	display: flex;
	width: 100%;
	gap: 1rem;
}

.model-header-cell {
	display: flex;
	flex-direction: column;
}

.header-item,
.sub-header,
.model-name,
.question-cell,
.model-header-cell,
.response-cell {
	flex: 1;
}

.header-item,
.sub-header,
.model-name,
.question-cell {
	padding: 0.5rem;
}

.question-cell {
	display: flex;
	flex-direction: row;
	white-space: normal;
	word-wrap: break-word;
	gap: 0.5rem;
}

.question-status {
	display: flex;
	width: 1rem;
	height: 100%;
}

.q-status-btn {
	width: 1rem;
	height: 1rem;
	border: none;
	border-radius: 1000px;
	margin-top: 0.25rem;
}

.q-status-btn.idle {
	background-color: rgb(191, 191, 191);
}

.q-status-btn.pending {
	background-color: #5990ffa7;
}

.q-status-btn.complete {
	background-color: #00a400a8;
}

.model-name {
	text-align: center;
}

.sub-header {
	display: flex;
	width: 100%;
	background-color: #e6e6e6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.sub-header div {
	flex: 1;
	text-align: center;
}

.feed-body {
	display: flex;
	flex-direction: column;
}

.response-cell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-wrap {
	padding: 0.5rem;
	display: flex;
	width: 100%;
}

.flex-wrap div {
	flex: 1;
	text-align: center;
}

.feed-row {
	border-bottom: 1px solid #e0e0e0;
}

.feed-row:nth-child(even) {
	background-color: #fafafa;
}

.feed-row:hover {
	background-color: #f0f0f0;
}

.feed-row:first-child {
	border-top-left-radius: 10px;
}

.feed-row:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.eval-status {
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
}

.eval-status.correct {
	background-color: #00c6003f;
}

.eval-status.incorrect {
	background-color: #ff46463f;
}

.eval-status.pending {
	background-color: #5990ff5d;
}